
#marco{
    border: 2px solid blue;
    width: 30%;
    height: 430px;
    margin:0 auto;
    text-align: center;
    font-size: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#cuadroUno{
    border: 2px solid rgb(57, 168, 219);
    width: 30%;
    height: 60px;
    margin: 10% initial;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    
}
#cuadroDos{
    border: 2px solid rgb(57, 168, 219);
    width: 30%;
    height: 60px;
    position: relative;
    left: 525px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
